docs/

ai_agents_docs/

node_modules/

implemented_tasks/

dist/

# Ignore all environment files
.env

# Ignore all AI agents files
AGENT_DISPATCH.md
CODER.md
DOCUMENTER.md
PLANNER.md
progress_template.md
REVIEWER.md
TESTER.md

# Current/implemented tasks description files
P1-T1_Initialize_NestJS.md
P1-T2_Configure_Prisma.md
P1-T3_Set_up_Redis.md